.recipe-container{
    width: 23%;
    max-width: 300px;
    margin: 15px 1%;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    user-select: none;
    overflow: hidden;
}

.recipe-top{
    height: auto;
    background: rgba(156, 156, 156, 0.3);
    padding: 5px 10px 10px;
}

.recipe-title{
    width: 100%;
    padding-bottom: 3px;
    font-weight: 600;
    z-index: 2000;
}


.recipe-categories{
    display: flex;
}

.recipe-bottom{
    padding: 10px;
}

.recipe-container p{
    margin: 10px 5px 0 0;
}

.recipe-container ul, .recipe-container ol{
    margin: 0;
}

.rounded-text{
    padding: 4px 6px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    display: inline-block;
    border-radius: 6px;
}

@media (max-width: 1400px){
    .recipe-container{
        width: 31%;
        max-width: 94%;
    }
}

@media (max-width: 900px){
    .recipe-container{
        width: 46%;
    }
}

@media (max-width: 550px){
    .recipe-container{
        width: 94%;
    }
}