header {
    height: 21px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.header-left a:hover {
    text-decoration: underline;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right a {
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

.header-right a:hover {
    text-decoration: underline;
}

.recipe-button{
    text-align: center;
    background-color: #6A858A;
    color: white;
    font-weight: 600;
    padding: 7px 10px;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
}

.recipe-button a:hover{
    text-decoration: none;
}