header {
    height: 21px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.header-left a:hover {
    text-decoration: underline;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right a {
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

.header-right a:hover {
    text-decoration: underline;
}